extends ../layouts/base
block styles
  link(rel="stylesheet", href="/css/coursesList.css")
block content
  div.parent_container
    div.element
      div.container_element
        div.container_element--textos 
          h2 Bienvenido Minecrafter
          p
            | Aquí encontraras todas las herramientas para hacer tus ideas mas
            | grandes e innovadoras realidad! Adentrate en el mundo de la
            | creación! Para tu primera Fase te ofrecemos estos cursos,
            | puedes inscribirte al que mas desees.
        div.container_element--img
          img(src="/img/Robot2.png")
    div.container_career
      div.container_career--courses
        div.container_career--courses--text
          div.item
            h4 Programacion
          div.item
            h4 Diseño
      div.container_career--courses
        div.container_career--courses--img
          img(src="/img/imgcastillo.png")
          p Castillo Medieval
        div.container_career--courses--img
          img(src="/img/img_zoo.png")
          p Zoologico
        div.container_career--courses--img
          img(src="/img/img_parque.png")
          p Parque de diversiones
