header
  div.header
    div.item.logo
      a(href="/empresa")
        img(src="/img/Logo21.png")
    div.item
      ul
        li
          a Cursos
        li
          a(href="/empresa/contactanos") Contactanos
        li
          a Prueba gratis
        li
          a(href="/iniciar-sesion") Iniciar Sesion
