header
  div.header
    div.header--logo-container
      a(href="/")
        img(src="/img/Logo2.png")
    div.header--list-container
      ul
        li
          a(href="/") Cursos
        li
          a(href="/empresa/contactanos") Contactanos
        li
          a Prueba gratis
        li
          a(href="/usuario/iniciar-sesion") Iniciar Sesion
