.parent_container {
  display: flex;
  flex-direction: column;
}

.parent_container--general_information {
  background-image: url(../img/ladin_head.jpg);
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  height: 100%;
  align-items: center;
  height: 100rem;
}

.parent_container--general_information--cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  height: 70%;
  padding: 2rem;
  margin-left: 5rem;
}

.parent_container--general_information--cont h2 {
  opacity: 1;
  width: 90%;
}

.parent_container--general_information--cont h2:nth-child(2n) {
  margin-top: 0;
  margin-bottom: 3rem;
}

.parent_container--general_information--cont p {
  width: 90%;
  color: #1C1740;
}

.parent_container--general_information_2--cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem;
}

.parent_container--general_information_2--cont .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent_container--general_information_2--cont .item img {
  height: 35rem;
  width: 35rem;
  margin-left: 8rem;
}

.parent_container--general_information_2--cont .steam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.steam--list_container {
  margin-top: 2rem;
}

.steam--list_container p {
  margin-bottom: 1.5rem;
}

.list_container--icon_l_img_r {
  display: flex;
  flex-direction: row;
}
.steam_icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.general_information--mobile {
  display: none;
}

.parent_container--text_l_img_r {
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.parent_container--text_l_img_r .text_p2 {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15rem;
}

.steam--img_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.steam--img_button img {
  width: 40rem;
  height: 30rem;
}

.parent_container--corousel_courses {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.iparent_container--corousel_courses--item_title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
}

.parent_container--corousel_courses--cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.parent_container--corousel_courses--cont .button{
  width: 5rem;
  height: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.parent_container--corousel_courses--cont img {
  width: 45rem;
  margin-bottom: 5rem;
}

.cont--img_and_text img {
  width: 30rem;
  height: 20rem;
}

.cont--img_and_texts p {
  width: 30rem;
}

.parent_container--img_100 img {
  width: 100%;
  height: 100%;
}

.parent_container--learning_path {
  display: none;
}

.parent_container--academic_dimension.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5rem;
  padding-left: 10rem;
}

.parent_container--academic_dimension.contents img {
  width: 90%;
  height: 18rem;
}

.parent_container--academic_dimension.contents p {
  width: 80%;
  margin-bottom: 2rem;
}

.academic_dimension--button {
  align-self: center;
  margin-right: 15rem;
}

.parent_container--testimonials_students {
  background-image: url(../img/parents_opinions.png);
  background-size: 100% 100%;
  background-color: white;
  background-repeat: no-repeat;
  height: 50rem;
  display: flex;
  margin: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.text_p5 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 12%;
}

.parent_container--testimonials_students--cont h2 {
  width: 50rem;
}

.parent_container--testimonials_students--cont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40rem;
  margin-right: 15rem;
}

.parent_container--testimonials_students--cont ul li {
  margin-bottom: 1rem;
  text-justify:distribute;
  color: #1C1740;
}

.parent_container--testimonials_students--cont ul li img {
  width: 5rem;
  height: 5rem;
}

.text_li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.parent_container--contac_numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contac_numbers--img_l_text_r {
  display: flex;
  flex-direction: row;
}

.parent_container--pop_up_free_star {
  display: none;
  position: absolute;
  padding-left: 5rem;
  width: 500px;
  height: 600px;
  top: 40%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
  background-image: url(../img/Log_infondo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.parent_container--pop_up_free_star form {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 90%;
  margin-top: 5rem;
}

.pop_up_free_star--inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 80%;
  height: 80%;
  justify-content: space-around;
}

.inputStyle input {
  width: 95%;
  margin: 0.5rem;
  border-radius: 0.7rem;
  padding: 0.5rem;
  border: grey;
}

.inputs--day_of_class {
  margin-top: 2rem;
}

.inputs--day_of_class select {
  margin: 5px;
  width: 30%;
  height: 25px;
  border-radius: 7px;
  padding: 5px;
  border: grey;
}

.parent_container--pop_up_free_star button { 
  margin-left: 5rem;
}
