.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  background: url(../img/Log_infondo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  width: 60rem;
  height: 60rem;
  align-items: center;
  justify-content: center;
}

.login--container-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.login--container--inputs-info {
  width: 60%;
}

label {
  font-size: 1.6rem;
  margin: 0.5rem;
}

.style_input input {
  width: 95%;
  margin: 0.5rem;
  height: px;
  border-radius: 0.7rem;
  padding: 0.5rem;
  border: grey;
  margin-bottom: 1.5rem;
}

.login--container--container_button {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.login--container--container_button a {
  text-decoration: none;
  color: black;
}

.button_open_registro {
  width: 60%;
}

.login--container--container_button a input {
  font-size: 1.6rem;
  background: transparent linear-gradient(275deg, #FFB70C 0%, #FF9424 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 10rem;
  border: #FFB70C;
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: white;
}

.login--container--container_button a input:hover {
  background: transparent linear-gradient(275deg, #FF9424 0%, #FFB70C 100%) 0% 0% no-repeat padding-box;
  transform: scale(1.05);
}

.pos_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lostPassword {
  font-size: 1.8rem;
}
