* {
  box-sizing:  border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0px;
  color: #28215C;
  opacity: 1;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h4 {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #28215C;
}

button {
  background:
    transparent
    linear-gradient(275deg, #FFB70C 0%, #FF9424 100%)
    0%
    0%
    no-repeat
    padding-box;
  box-shadow: 3px 3px 10px #00000029;
  border-radius: 10rem;
  width: 35rem;
  height: 4.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border: #FFB70C;
  color: white;
  font-size: 1.5rem;
}

button:hover {
  background:
    transparent
    linear-gradient(275deg, #FF9424 0%, #FFB70C 100%)
    0%
    0%
    no-repeat
    padding-box;
  transform: scale(1.05);
  transform: scale(1.02);
}

ul li {
  list-style: none;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background: #77F5FE;
  box-shadow: 0.3rem 0.3rem 1rem #00000029;
  opacity: 1;
  display: flex;
  padding: 0 10rem;
  align-items: center;
  justify-content: space-between;
  height: 5.5rem;
  width: 100%;
  min-width: 320px;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.header ul li {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
  padding: 0.5rem;
  text-align: left;
  color: #28215C;
}

.header ul li:hover {
  background-color: rgba(26, 195, 224, 0.568);
  transform: scale(1.05);
}

.header--list-container {
  width: 50%;
}

.header--logo-container img {
  height: 3rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5.5rem;
  width: 100%;
  background: linear-gradient(to right, #77F5FE, #8ff3faad);
  box-shadow: 0.3rem 0.3rem 1rem #00000029;
  opacity: 1;
}

.footer img {
  height: 3rem;
  margin: 1rem;
  padding-right: 5rem;
}

@media screen and (max-width: 600px) {
  .header--list-container {
    display: none;
  }

  .header {
    background-color: white;
  }

  .header--logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer {
    display: none;
  }
}
