
h2 {
  font: normal normal bold 35px/46px Open Sans;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  color: #28215C;
  opacity: 1;
  margin:0px;
  margin-top: 30px;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
}

button {
  background: transparent linear-gradient(275deg, #FFB70C 0%, #FF9424 100%) 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 10px #00000029;
  border-radius: 100px;
  width: 250px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: #FFB70C;
  color: white;
  font-size: 15px;
}

button:hover {
  background: transparent linear-gradient(275deg, #FF9424 0%, #FFB70C 100%) 0% 0% no-repeat padding-box;
  transform: scale(1.05);
  transform: scale(1.02);
}

ul li {
  list-style: none;
}

.header {
  background: #77F5FE;
  box-shadow: 3px 3px 10px #00000029;
  opacity: 1;
  display: flex;
  padding: 0 100px;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0;
  justify-content: space-between;
}

.header ul li {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 5px;
  text-align: left;
  font: normal normal normal 18px/26px Open Sans;
  letter-spacing: 0px;
  color: #28215C;
  text-transform: capitalize;
  opacity: 1;
}

.header ul li:hover {
  background-color: rgba(26, 195, 224, 0.568);
  transform: scale(1.05);
}

.header .item {
  width: 50%;
}

.logo {
  align-items: center;
}

.footer {
  background: linear-gradient(to right, #77F5FE, #8ff3faad);
  box-shadow: 3px 3px 10px #00000029;
  opacity: 1;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 55px;
  padding-right: ;
}

.footer img{
  width: 30px;
  height: 30px;
  margin: 10px;
  padding-right: 50px;
}