extends ../layouts/base
block styles
  link(rel="stylesheet" href="/css/gadeAcademy.css")
block content
  div.parent_container
    div.parent_container--element_p1.contents
      div.parent_container--element_p1--cont
        h2 Programacion, arte y tecnología para niños
        p
          | El futuro está ens manos de quienes hoy comprenden la <br>
          | tecnología y la usan para hacer un mundo más accesible,<br>
          | útil y dinámico. Nosotros te hacemos parte de ello <br>
          | fortaleciendo tus conocimientos de una forma lúdica, <br>
          | sencilla y muy divertidas.
        button Mi primera clase gratis
      div.parent_container--element_p1_2--cont
        div.item
          img(src="/img/child_imagin.png", alt="")
        div.steam
          img(src="/img/steam.png", alt="")
          p 
            |Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse velit delectus porro <br>
            |ut maxime adipisci, inventore saepe totam, veniam quam minus obcaecati vitae rem <br>
            |incidunt suscipit? Similique libero voluptatum quis? Lorem ipsum dolor sit amet <br>
            |consectetur adipisicing elit. Esse velit delectus porro ut maxime adipisci, inventore<br>
            |saepe totam, veniam quam minus obcaecati vitae rem incidunt suscipit? Similique <br>
            |libero voluptatum quis?        
    div.parent_container--element_p2.contents
      div.text_p2
        p
          | Ofrecemos cursos para iniciar a los mas jovenes y niños a entender
          | el mundo de la programación por medio de una metodologia basada en
          | el juego; utilizamos como herramienta la version educativa de
          | minecraft, las bases de la programacion y la creatividad de cada
          | estudiante.
        button Mi primera clase gratis
    div.parent_container--element_p3.contents
        div.parent_container--element_p3--item_title
          h2 Explora nuestros cursos
        div.parent_container--element_p3--cont
            div.cont_course
              a(href="/cursos/castillo")
                img(class="img_curso" src="/img/castillo.jpg")
              h4 Castillo medieval
              p.text
                | En este curso haremos una sociedad Medieval en la que vamos a
                | aprender Sobre civilizaciones antiguas y su desarrollo,
                | mietras programamos nuestro mundo.
            div.cont_course
              a(href="/cursos/zoo")
                img(class="img_curso" src="/img/img_zoo.png")
              h4 Zoologico
              p.text
                | En este curso crearemos nuestro propio zoologico en el
                | cual aprenderemos de los biomas y sus animales,
                | mientras programamo nuestro mundo.
            div.cont_course
              a(href="/cursos/parque")
                img(class="img_curso" src="/img/img_parque.png")
              h4 Parque de Diversiones
              p.text
                | En este curso crearemos un parque de diversiones,
                | en el cual vamos a aprender sobre la tegnologia detras de las
                | atracciones, esto mientras programamos nuestro mundo.
    div.parent_container--element_p4.contents
      img(src="/img/ruta_aprendizaje.png", alt="")
    div.parent_container--element_p5.contents
      div.text_p5
        h2 nuestros esrudiantes
      div.parent_container--element_p5--cont
        ul
          li
            div.text_li
              img(src="/img/icono.png", alt="")
              |Damos prioridad a los niños y a sus propios intereses
          li 
            div.text_li
              img(src="/img/icono.png", alt="")
              |nos encanta hacer realidad los sueños de los niños y que sepan que ellos mismos pueden lograrlo.
          li 
            div.text_li
              img(src="/img/icono.png", alt="")
              |queremos un mundo y una sociedad mas integra inteligente y desarrollada
      