extends ../layouts/base
block styles
  link(rel="stylesheet" href="/css/gadeAcademy.css")
block content
  div.element_p4.body.div1
    div.item
      h2 Programacion, arte y tecnología para niños
      p
        | El futuro está en manos de quienes hoy comprenden la tecnología y
        | la usan para hacer un mundo más accesible, útil y dinámico.
        | Nosotros te hacemos parte de ello fortaleciendo tus conocimientos
        | de una forma lúdica, sencilla y muy divertidas.
      button Mi primera clase gratis
  div.element_p1.body.div2
    div.item_titulo
      h2 Explora nuestros cursos
    div.grid_container
      div.container
        div.item
          a(href="/cursos/castillo")
            img(class="img_curso" src="/img/castillo.jpg")
          h4 Castillo medieval
          p.text
            | En este curso haremos una sociedad Medieval en la que vamos a
            | aprender Sobre civilizaciones antiguas y su desarrollo,
            | mietras programamos nuestro mundo.
        div.item
          a(href="/cursos/zoo")
            img(class="img_curso" src="/img/img_zoo.png")
          h4 Zoologico
          p.text
            | En este curso crearemos nuestro propio zoologico en el
            | cual aprenderemos de los biomas y sus animales,
            | mientras programamo nuestro mundo.
        div.item
          a(href="/cursos/parque")
            img(class="img_curso" src="/img/img_parque.png")
          h4 Parque de Diversiones
          p.text
            | En este curso crearemos un parque de diversiones,
            | en el cual vamos a aprender sobre la tegnologia detras de las
            | atracciones, esto mientras programamos nuestro mundo.
  div.element_p4.body.div3
    div.item
      p
        | Ofrecemos cursos para iniciar a los mas jovenes y niños a entender
        | el mundo de la programación por medio de una metodologia basada en
        | el juego; utilizamos como herramienta la version educativa de
        | minecraft, las bases de la programacion y la creatividad de cada
        | estudiante.
      button.button2 Mi primera clase gratis
  div.element_p3.body
    div.item
      img(src="/img/Landing_Iconos@2x.png")
  div.element_p1.body.div5
    div.item
      h2 Ruta de aprendizaje
  div.element_p2.body.div6
    div.grid_container
      div.container2
        div.item
          h2 Nuestros Estudiantes
      div.container3
        div
          div.item
            img(src="/img/icono.png")
            p Damos prioridad a los niños y a sus propios Intereses.
          div.item
            img(src="/img/icono.png")
            p
              | Nos encanta hacer realidad los sueños de los Niños y
              | darles las herramientas para que ellos mismos Pueden lograrlo.
          div.item
            img(src="/img/icono.png")
            p
              | Queremos un mundo y una sociedad mas integra
              | Inteligente y desarrollada.
