extends ../layouts/base
block styles
    link(rel="stylesheet", href="/css/prueba_carrusel.css")
block content
    div.parent_container--corousel_courses--item_title
          h2 Explora nuestros cursos
        div.parent_container--corousel_courses--cont
            div.cont--img_and_text
                img(src="")
                h3 curso1
                p informacion acerca de este curso.
            div.cont--img_and_text 
                img(src="")
                h3 curso1
                p informacion acerca de este curso.
            div.cont--img_and_text 
                img(src="")
                h3 curso1
                p informacion acerca de este curso.
    script(src="/js/prueba_carrusel.js") 