extends ../layouts/base
block styles
  link(rel="stylesheet", href="/css/contact.css")
block content
  div.parent_container 
    div.parent_container--info_contact
      h2 contactanos 
      p 
        |si quieres saber mas acerca de nuestra oferta
        |academica puedes escribirnos, estamos todos los 
        |dias trabajando para hacer de la educacion 
        |algo mejor.
      h4 te atenderemos de inmediato
      img(src="", alt="")
      p +57 301 688 9227
      p +57 319 429 6538

